{% extends 'base.html'%}

{%block head %}
<title> enrollment</title>
{%endblock%}



{%block body%}

<div class="login">
  <div class="main">
  {% if message %}
  <div class="message">{{ message }}</div>
  {% endif %}
    <h2>Enroll New Person</h2>
  <form id="enroll-form" method="POST" action="{{ url_for('enroll') }}">
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" placeholder="Enter first name" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" placeholder="Enter last name" required>
    </div>

    <div class="form-actions">
      <button type="submit">Enroll</button>
    </div>
  </form>
  </div>
</div>
{% endblock%}